/* carousel */

.contenerdor-carrusel .carousel img {
    object-fit: cover;
    object-position: center;
    height: 90vh;
}

.carousel-caption {
    color: white !important;
}

a {
    text-decoration: none;
}