/*nosotros*/
.padre{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "parrafo estudio1"
    "estudio3 estudio4"
    "estudio5 estudio6"
    "estudio2 parrafo1"
    
    ;
}
.estudio1{
    grid-area: estudio1;
}
.estudio2{
    grid-area: estudio2;
}
.estudio3{
    grid-area: estudio3;
}
.estudio4{
    grid-area: estudio4;
}
.estudio5{
    grid-area: estudio5;
}
.estudio6{
    grid-area: estudio6;
}
.parrafo{
    grid-area: parrafo;
    align-self: center;
    padding: 25px;
    text-align: justify;
}
.parrafo1{
    grid-area: parrafo1;
    align-self: center;
    justify-content: center;
    
}
@media only screen and (max-width: 648px){
    .padre{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "parrafo"
        "estudio1"
        "estudio2"
        "estudio3"
        "estudio4"
        "estudio5"
        "estudio6"
        "parrafo1"
        ;
        
    }
} 